@font-face {
    font-family: "myFont";
    font-weight: 400;
    src: url("./AlimamaDongFangDaKai-Regular.woff") format("woff"),
        url("./AlimamaDongFangDaKai-Regular.woff2") format("woff2");
    font-display: swap;
}